mat-card {
  width: 60%;
  margin: auto;
}

mat-checkbox {
  width: 100%;
  margin-left: 40px;
}

mat-radio-button {
  width: 100%;
  margin-left: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.lower-question {
  margin-top: 20px;
}

mat-spinner {
  margin: auto;
}
