.title {
  margin-left: 16px;
}

a {
  text-decoration: none;
  color: white;
}

mat-divider {
  margin-left: 16px;
  margin-right: 16px;
  height: 80%;
}

.main {
  min-height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  margin: 1rem auto;
  width: 80%;
}

.user-button {
  margin-left: 16px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-title {
  text-align: center;
}

.full-width {
  width: 100%;
}

.name-display {
  margin-right: 16px;
}

.login-background {
  height: 100%;
  background: linear-gradient(233deg, #d6d6d6, #7b62bd, #26174d);
  background-size: 600% 600%;

  -webkit-animation: BackgroundAnimation 35s ease infinite;
  -moz-animation: BackgroundAnimation 35s ease infinite;
  animation: BackgroundAnimation 35s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 87%;
  }
  50% {
    background-position: 100% 14%;
  }
  100% {
    background-position: 0% 87%;
  }
}
@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 87%;
  }
  50% {
    background-position: 100% 14%;
  }
  100% {
    background-position: 0% 87%;
  }
}
@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 87%;
  }
  50% {
    background-position: 100% 14%;
  }
  100% {
    background-position: 0% 87%;
  }
}
