<div class="main mat-app-background" *ngIf="(auth.user | async) as authUser; else signInDisplay">
  <mat-toolbar color="primary">
    <mat-icon>pedal_bike</mat-icon>
    <span class="title">Video Memes Gaming</span>

    <mat-divider [vertical]="true"></mat-divider>

    <button mat-stroked-button [matMenuTriggerFor]="gamesMenu" [matBadge]="numToRate > 0 ? numToRate : null"
      matBadgeColor="accent">
      Games
    </button>
    <mat-menu #gamesMenu="matMenu">
      <button mat-menu-item routerLink="">List all games</button>
      <button mat-menu-item routerLink="games/add">Add a new game</button>
      <button mat-menu-item routerLink="games/rate">
        <strong *ngIf="numToRate > 0">Rate game willingness ({{ numToRate }})</strong>
        <span *ngIf="numToRate == 0">Rate game willingness</span>
      </button>
      <button mat-menu-item routerLink="games/find">Find a game to play</button>
    </mat-menu>

    <button mat-stroked-button routerLink="users/list" class="user-button">
      Users
    </button>

    <span class="spacer"></span>

    <span class="name-display">{{ authUser.displayName }}</span>
    <button mat-raised-button color="accent" (click)="logOut()">Log Out</button>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #signInDisplay>
  <div class="login-background">
    <mat-card class="centered">
      <mat-card-title class="centered-title">Welcome to Video Memes Gaming</mat-card-title>
      <img mat-card-image src="../assets/dat_boi_full.gif">
      <mat-card-actions>
        <button mat-raised-button color="primary" class="full-width" (click)="logIn()">Continue with Google</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>